cat >> ~/Documents/GitHub/nyc-taxi-data-pipeline/de-project/.gitignore << EOF

# dbt
logs/
target/
dbt_packages/
.user.yml

# Large data files
*.parquet

# Mac
.DS_Store

# Python
__pycache__/
*.pyc
.env

# Metabase
*.jar
*.db.mv.db
*.db.trace.db
plugins/
EOF



